body {
  font-family: Roboto;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.light-title {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 350;
  font-size:1.3em;
  letter-spacing: 5px;
}
nav{
margin: 0 auto;
margin-top: 10px;
box-shadow: 1px 5px 10px rgba(0,0,0, 0.6);
min-height: 10vh;
background-color: rgba(17, 16, 16, 0.925);
width : 25vw;
border-radius: 0.675em;
}
#nav-links {
  flex-wrap: wrap;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  list-style: none;
  align-content: stretch;
}
#nav-links li {
padding:11px;
margin-left: 5px;
display: inline-block;
box-shadow: 0px 0px 0px 0.09rem white inset;
border-radius: 0.975em ;
}

#nav-links li a {
  text-decoration: none;
  color:white;
}
main .container{
  font-size: 1.1em;
  position: absolute;
  text-align: center;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#change-btn{
  border: 1px solid rgba(255, 255, 255, 0.26);
  opacity: 0.8;
  font-size: 1.15em;
  cursor: pointer;
  border-radius: 0.35rem;
  background-color:transparent;
  padding: 0.15em 0.35em;
  box-shadow: 3px 3px 7px rgba(0,0,0, 0.3) ;
  animation: grow 2.5s infinite;
  transition: 500ms linear;
}
@keyframes grow {
  50% {transform: scale(1.1);}
}
#change-btn:hover{
 opacity: 1;
 transform: scale(1.1);
}
.color-info{
  font-size:1.3rem;
  opacity: 0.865;
  box-shadow: 0px 2px 5px 2px #1817174d ;
  color: white;
  padding: 0.567em 0.9em;
  margin: 20px;
  border-radius: 0.56em;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.562);
}
.info-box{
  opacity: 0.75;
  background-color: rgb(39, 38, 38);
  color:white;
  position: absolute;
  left:0.5%;
  bottom:1%;
  box-shadow: 0px 3px 5px rgba(0,0,0, 0.6);
  padding: 0.2em;
}

@media (max-width: 768px){
  #nav-links{
    flex-direction: row;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  #nav-links li{
    font-size: 0.8rem;
    margin: 5px 0px;
  }
  nav{
    width: 80vw;
    background-color: black;
  }
  .info-box{
    font-size: 1.1rem;
  }
  .color-info{
    font-size: 1.2rem;
    margin-bottom: 3em;
    padding: 0.7em .9em;
    width: 70vw;
  }
  #change-btn{
    font-size: 1.5rem;
  }
}  