body {
  font-family: Roboto;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.light-title {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 350;
  font-size:1.3em;
  letter-spacing: 5px;
}
nav{
margin: 0 auto;
margin-top: 10px;
box-shadow: 1px 5px 10px rgba(0,0,0, 0.6);
min-height: 10vh;
background-color: rgba(17, 16, 16, 0.925);
width : 25vw;
border-radius: 0.675em;
}
#nav-links {
  flex-wrap: wrap;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  list-style: none;
}
#nav-links li {
padding:11px;
margin-left: 5px;
display: inline-block;
}

#nav-links li a {
  text-decoration: none;
  color:white;
}
main .container{
  font-size: 1.1em;
  position: absolute;
  text-align: center;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#change-btn{
  border: 1px solid rgba(255, 255, 255, 0.26);
  opacity: 0.8;
  font-size: 1.15em;
  cursor: pointer;
  border-radius: 0.35rem;
  background-color:transparent;
  padding: 0.15em 0.35em;
  box-shadow: 3px 3px 7px rgba(0,0,0, 0.3) ;
}
#change-btn:hover{
 opacity: 1;
 transform: scale(1.1);
}
main h3{
  font-size:1.1em;
  background-color: #233333c0;
  color: white;
  width: 25vw;
  padding: 0.567em 0.9em;
  margin: 20px;
  border-radius: 15px;
}
.info-box{
  opacity: 0.75;
  background-color: rgb(39, 38, 38);
  color:white;
  position: absolute;
  left:0.5%;
  bottom:1%;
  box-shadow: 0px 3px 5px rgba(0,0,0, 0.6);
  padding: 0.2em
}